<%= turbo_frame_tag 'carts' do %>
  <h1> Cart: </h1>

  <% if @cart.cart_products.count > 0 %>
    <%= render 'layouts/shared/cart_products' %>
    <p> Total: <%= @cart.total %> </p>
    <% else %>
      <p> Your cart is empty. Fill it! </p>
  <% end %>
<% end %>