<div class="">
  <%= button_to 'Delete Item', @cart_product, method: :delete, data: { turbo_method: :delete },
                class: 'block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white'%> %>
</div>