<div class="animated-title text-justify">
  <div class="text-top">
    <div>
          <span>Understanding how to buy quality products requires putting ourselves in the shoes of our audience.
          <br>
            This is our duty.
        Looking from a perspective of our customers, sometimes it is hard to find a product with
        a reasonable price.</span>
    </div>
  </div>
  <div class="text-bottom">
    <div>Prices of our products target audience directly and personally.
      We choose to respect one's financial situation, we choose to respect you and you.
      We are always here to do best: to help you find what you want and provide you with excellent
      customer service.</div>
  </div>
</div>