<div class="w-full animated-title-container">
  <%= render partial: 'layouts/shared/text' %>
</div>

<div class="pt-10"></div>
<div class="pt-10"></div>

<div class="flex flex-col items-center justify-center w-full h-screen mb-12 bg-fixed bg-center bg-cover custom-img">
  <div class="p-5 text-white bg-opacity-50 rounded-xl text-center">
    <p class="text-3xl font-bold">Always here to help</p>
  </div>
</div>

<div class="pt-10"></div>
<div class="pt-10"></div>

<%= render partial: 'layouts/shared/text-two' %>

<div class="pt-10"></div>
<div class="pt-10"></div>

<div class="flex flex-col items-center justify-center w-full h-screen mb-12 bg-fixed bg-center bg-cover custom-img-two">
  <div class="p-5 text-white bg-opacity-50 rounded-xl text-center">
      <button type="button" class="text-white rounded-full focus:ring-4 focus:outline-none bg-transparent font-medium rounded-lg text-base px-5 py-2.5 text-center">
        <a href="mailto:valcat552@gmail.com"> Contact us </a>
        <i class="fa-solid fa-leaf"></i>
      </button>
  </div>
</div>


