<div class="w-full animated-title-container">
  <%= render partial: 'layouts/shared/text' %>
</div>


<div class="text-center">
  <p>dkaskjgjgkasjdsa</p>
  <p>dkaskjgjgkasjdsa</p>
  <p>dkaskjgjgkasjdsa</p>
  <p>dkaskjgjgkasjdsa</p>
  <p>dkaskjgjgkasjdsa</p>
  <p>dkaskjgjgkasjdsa</p>
  <p>dkaskjgjgkasjdsa</p>
  <p>dkaskjgjgkasjdsa</p>
  <p>dkaskjgjgkasjdsa</p>
  <p>dkaskjgjgkasjdsa</p>
  <p>dkaskjgjgkasjdsa</p>
  <p>dkaskjgjgkasjdsa</p>
  <p>dkaskjgjgkasjdsa</p>
  <p>dkaskjgjgkasjdsa</p>
  <p>dkaskjgjgkasjdsa</p>
</div>