<div>
  <%= link_to 'Keep Shopping', product_path %>
</div>

<hr>

<div>
  <%= render partial: 'products/product' %>
</div>

<hr>

<section class="section">
  <%= render partial: 'layouts/shared/delete_item' %>

  <div class=''>
    <div class="">
      <hr>
      <%= button_to 'Empty Cart', @cart, method: :delete, data: { turbo_method: :delete },
                    class: 'block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white'%> %>
    </div>
  </div>
</section>